Centipede/.vs/
Centipede/Debug/
Centipede/Centipede/Debug/
*.filters
*.user
*.ipch
*.suo
*.vcxproj
stdafx.*
targetserver.*


Centipede/.vs/Centipede/v15/.suo
Centipede/.vs/Centipede/v15/Browse.VC.db
*.db
Centipede/.vs/Centipede/v15/.suo
*.db
*.db
